doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Chat (Slack)
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.h-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-faded
      a.navbar-brand(href="/") Chat
    .container-lg.h-100.overflow-hidden
      .h-100#chat
    script(src=assetPath('main.js'))
